/* .container{
background-color: rgb(139, 74, 74);
border:2px;
}
.row{
    border: 3px solid red;
    
}
.col-3{
background-color: aqua;
border: 1px solid black;
} */
.slide img{

    height: 650px;
}
#Order{
    /* margin: auto; */
}
    